.market-news-data-single-list-container {
  padding: 15px;
  border: 2px solid black;
  border-radius: 17px;
  margin-bottom: 17px;
}
.market-news-data-single-list-container:nth-of-type(odd) {
  background-color: rgb(209, 209, 209);
}
.market-news-data-single-list-container-heading {
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
}
.market-news-data-single-list-img {
  width: 370px;
  height: 220px;
}