#stock-market-info-container {
  margin-top: 15px;
}
#stock-market-info-heading {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: monospace;
}
#stock-market-api-data {
  background-color: darksalmon;
}